{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block body %}
<div class="btn-group d-block text-center" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger btn-lg" id="btnShutdown">Shutdown</button>
    <button type="button" class="btn btn-warning btn-lg" id="btnReboot">Reboot</button>
</div>
<p class="text-center mt-5 fs-6">Login as <em>{{ current_user.name }}</em>. Want to <a href="/logout">Logout</a>?</p>
<div class="w-100 h-100 bg-dark text-white position-fixed d-flex justify-content-center align-items-center invisible fs-5"
    style="z-index: 100;left:0;top:0;" id="cmdOutput">
</div>
{% endblock %}

{% block script %}
<script>
    let cmdOutput = document.querySelector('#cmdOutput')
    let btnShutdown = document.querySelector('#btnShutdown')
    let btnReboot = document.querySelector('#btnReboot')

    btnShutdown.addEventListener('click', function () {
        sendCommand('shutdown')
    })

    btnReboot.addEventListener('click', function () {
        sendCommand('reboot')
    })

    function disableButtons() {
        btnShutdown.disabled = true
        btnReboot.disabled = true
    }

    function enableButtons() {
        btnShutdown.disabled = false
        btnReboot.disabled = false
    }

    function sendCommand(action) {
        disableButtons()
        fetch(`/${action}`, {
            method: 'POST'
        })
            .then(r => {
                cmdOutput.classList.remove('invisible')
                if (!r.ok) {
                    error()
                    return r.text()
                } else {
                    return r.json()
                }
            })
            .then(r => {
                if (r.stdout) {
                    cmdOutput.innerHTML = `${r.stdout}`
                }
                else if (r.stderr) {
                    cmdOutput.innerHTML = `${r.stderr}`
                }

                if (cmdOutput.innerHTML.length <= 1) {
                    cmdOutput.innerHTML = `${action} failed: ${r}`
                }
            })
    }

    function error() {
        enableButtons()
        setTimeout(function () {
            cmdOutput.classList.add('invisible')
        }, 6000)
    }
</script>
{% endblock %}