<!doctype html>
<html lang="en" class="h-100 w-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}{% endblock %} - Shutdown your machine via Web</title>
</head>

<body class="h-100 w-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <p class="text-center mb-4 fs-4">Shutdown your machine via one click!</p>
        {% block body %}{% endblock %}
    </div>
    <script src="/assets/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>