{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <form style="max-width: 650px;" class="w-100 needs-validation" role="form" method="POST" novalidate>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong>{{ error }}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="user_name" class="form-label">User Name</label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="type your user name"
                autocomplete="off" autofocus required>
            <div class="invalid-feedback">
                Required
            </div>
        </div>
        <div class="mb-3">
            <label for="user_pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="user_pwd" name="user_pwd" autocomplete="off"
                placeholder="type your password" required>
            <div class="invalid-feedback">
                Required
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="user_remember" name="user_remember">
            <label class="form-check-label" for="user_remember">Remember</label>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    let forms = document.querySelectorAll('.needs-validation');
    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        });
</script>
{% endblock %}