{% extends "layout.html" %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="d-flex justify-content-center align-items-center">
    <form style="max-width: 650px;" class="w-100" method="POST">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Error: </strong>{{ error }}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="user_name" class="form-label">User Name</label>
            <input type="text" class="form-control" id="user_name" name="user_name" placeholder="user name"
                autocomplete="off" required>
        </div>
        <div class="mb-3">
            <label for="user_pwd" class="form-label">Password</label>
            <input type="password" class="form-control" id="user_pwd" name="user_pwd" autocomplete="off" required>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="user_remember" name="user_remember">
            <label class="form-check-label" for="user_remember">Remember</label>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>
{% endblock %}